@page "/weather"
@using RasperryInflux.Entities
@inject IDataService _service
@attribute [StreamRendering]

<h1>Weather</h1>

<p>This component demonstrates showing data.</p>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Time</th>
            <th scope="col">Temperatur</th>
            <th scope="col">Luftfugtighed</th>
        </tr>
    </thead>
    @foreach (var item in list)
    {
        <tbody>
            <tr>
                <td>@item.time</td>
                <td>@item.temperature</td>
                <td>@item.humidity</td>
            </tr>
        </tbody>
    }
</table>

@code {
    List<Telemetry> list { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        list = await _service.GetDataService();
    }
}
